$color-nav: #5B605F;
$color-header: #4a4a49;
$color-button: #FF6600;
$color-background: #FFFFFA;
$color-info: #3498DB;
$color-warning: #FFB03B;
$color-success: #468966;
$color-trash: #BD4932;
$color-table: #A1A194;
$color-logo: #E58A20;

$color-background-grey: rgb(235, 235, 235);


